.tag {
  height: 100%;
  width: 100px;
  border-right: 1px solid #ccc;
  position: relative;
  padding-left: 10px;
  background-color: #eee;
  &.active {
    background-color: #fff;
  }
  .tag-name {
    line-height: 50px;
    height: 50px;
    overflow: hidden;
    color: #555;
  }
  .close-button {
    color: #888;
    position: absolute;
    right: 5px;
    top: 0;
  }
}