.user-nav {
  height: 100%;
  min-height: 600px;
  width: auto;
  padding: 26px 4px 0;
  background-color: #f3f3f3;
  .my-info {
    text-align: center;
    .avatar {
      display: inline-block;
      width: 36px;
      height: 36px;
      border-radius: 18px;
      margin-bottom: 50px;
      background: url('../../common/image/default.jpg') center/100%;
    }
  }
  .nav {
    a {
      color: #aaa;
    }
    .iconfont {
      padding-bottom: 30px;
      position: relative;
      .red-dot {
        position: absolute;
        top: 0;
        right: 10%;
        height: 8px;
        width: 8px;
        background-color: red;
        border-radius: 50%;
      }
      i {
        font-size: 44px;
      }
    }
  }
  .setting {
    position: absolute;
    bottom: 30px;
    color: #aaa;
    i {
      font-size: 44px;
    }
  }
}