.create-group-wrapper {
  .window-wrapper {
    height: 200px;
    width: 400px;
    position: fixed;
    border: 1px #888 solid;
    border-radius: 30px;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: white;
    opacity: 0.7;
    z-index: 999;
    .tag-wrapper {
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      p:last-child {
        color: rgb(112, 9, 9);
        line-height: 1em;
        position: absolute;
        right: 15px;
        top: 10px;
      }
    }
  }
  .info-wrapper {
    height: 98px;
    border-top: solid #888 1px;
    border-bottom: solid #888 1px;
    label {
      display: inline-block;
      width: 100px;
      text-align: right;
      margin-top: 15px;
    }
    input {
      margin-top: 15px;
      margin-left: 10px;
    }
  }
  .button-wrapper {
    display: flex;
    height: 50px;
    .confirm-button {
      flex: 1 0 auto;
      text-align: center;
      line-height: 50px;
      color: rgb(112, 9, 9);
      border-right: solid #888 1px;
      border-bottom-left-radius: 30px;
      &:hover {
        background-color: rgb(80, 160, 80);
      }
    }
    .cancel-button {
      border-bottom-right-radius: 30px;
      flex: 1 0 auto;
      text-align: center;
      line-height: 50px;
      color: rgb(112, 9, 9);
      &:hover {
        background-color: rgb(80, 160, 80);
      }
    }
  }
  
}