.local-search {
  .search-icon {
    padding: 2px 10px 2px 2px;
    font-size: 24px;
    background-color: #f3f3f3;
    color: #ccc;
    display: inline-block;
  }
  .search-box {
    font-size: 12px;
    vertical-align: bottom;
    background-color: #f3f3f3;
    color: #ccc;
    height: 28px;
  }
  .add-icon {
    padding: 2px 2px 2px 5px;
    font-size: 24px;
    color: #ccc;
    display: inline-block;
  }
}